# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/

# Data (trop volumineux)
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlartifacts/

# Misc
*.log
create_notebook.py
generate_plots.py
01-Getaround_analysis.ipynb
api/feature_info.json
